body {
  background-color: pink;
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

button {
  outline: none;
  background-color: olive;
  color: white;
  border: none;
  font-size: 32px;
  margin: 16px 0;
  cursor: pointer;
  border-radius: 20px;
}
