body {
  margin: 0px;
  background-color: black;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  padding: 16px;
}

.timer {
  width: 150px;
  height: 50px;
  background-color: white;
  box-sizing: border-box;
  border: 4px solid black;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 24px;
  text-align: center;
  line-height: 44px;
}

.controler {
  width: 50px;
  height: 50px;
  background-color: orange;
  box-sizing: border-box;
  border: 4px solid black;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 24px;
  text-align: center;
  line-height: 44px;

  cursor: pointer;
}

.game__item:hover,
.modal__button:hover,
.controler:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.rest {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-color: seagreen;
  border: 4px solid black;
  border-radius: 100%;
  text-align: center;
  font-size: 36px;
  margin-bottom: 8px;
}
.game {
  background: url('../asset/img/background.png') no-repeat;
  background-size: cover;
  width: 800px;
  height: 450px;
  border-radius: 16px;
  margin: 0 auto;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: translate(280px, -225px);
  width: 270px;
  height: 120px;
  display: none;
  color: #fff;
  text-align: center;
  padding: 24px;
  font-size: 24px;
  border-radius: 8px;
  box-sizing: border-box;
  z-index: 3;
}
.modal__button {
  background-color: orange;
  outline: none;
  border: black solid 2px;
  padding: 8px;
  color: black;
  font-size: 20px;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
  cursor: pointer;
}
.visible {
  display: block;
}

.game__content {
  width: 800px;
  height: 225px;
}
.game__item {
  cursor: pointer;
}
